<div class="container mt-4">
  <h2 class="text-center mb-4">Search Results</h2>

  <% if @menu_items.any? %>
    <div clas="row">
      <% @menu_items.each do |item| %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text">₹<%= item.price %></p>
              <p class="card-text">
                <span class="badge <%= item.available ? 'bg-success' : 'bg-danger' %>">
                  <%= item.available ? "Available" : "Unavailable" %>
                </span>
              </p>

              
              <%= link_to "View Reviews", menu_item_reviews_path(item), class: "btn btn-outline-info btn-sm" %>
              <br>
              
              <%= button_to "Add to Cart", cart_items_path(menu_item_id: item.id), method: :post, class: "btn btn-success me-2" %>
              <br>
              <%= button_to "Book Now", book_orders_path(menu_item_id: item.id), method: :post, form: { data: { turbo: false } }, class: "btn btn-primary" %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-warning text-center">No results found.</div>
  <% end %>
</div>